In [1]:
print("HW")

HW

# Measure of Dispersion
# Variance and standard Deviation

In [2]:
ages_list = [23, 43, 23, 56, 74, 32, 68, 98, 45, 32]

In [3]:
import numpy as np
mean = np.mean(ages_list)
mean

49.4

In [5]:
var = np.var(ages_list)
var

541.64

In [6]:
std = np.std(ages_list)
std

23.273160507331188

# With Pandas

In [7]:
import pandas as pd

In [11]:
# nested list to data frame
data = [[10, 12, 13], [34, 23, 45], [32, 3, 21]]
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32   3  21

In [12]:
# column wise variance
df.var()

A    177.333333
B    100.333333
C    277.333333
dtype: float64

In [13]:
# row wise variance
df.var(axis=1)

0      2.333333
1    121.000000
2    214.333333
dtype: float64

In [14]:
# column wise standard variance
df.std()

A    13.316656
B    10.016653
C    16.653328
dtype: float64

In [15]:
# row wise standard deviation
df.std(axis=1)

0     1.527525
1    11.000000
2    14.640128
dtype: float64