In [1]:
print("HW")

HW

# Question 1

In [2]:
data = [4, 8, 15, 16, 23, 42]
import pandas as pd
df = pd.DataFrame(data)

In [3]:
df

    0
0   4
1   8
2  15
3  16
4  23
5  42

In [5]:
# we have not given string in square brackets because by default header is none and columns are indexed
dataSeries = df[0]

In [6]:
dataSeries

0     4
1     8
2    15
3    16
4    23
5    42
Name: 0, dtype: int64

# Question 2

In [7]:
List = [1, 2, "Vignesh", "LNMIIT", "IIT Ropar", "Java", "PW PPT", "uday", "Reddy", 7.63]
List

[1,
 2,
 'Vignesh',
 'LNMIIT',
 'IIT Ropar',
 'Java',
 'PW PPT',
 'uday',
 'Reddy',
 7.63]

In [8]:
print(type(List))
print(len(List))

<class 'list'>
10

In [9]:
data_series = pd.Series(List)
print(data_series)

0            1
1            2
2      Vignesh
3       LNMIIT
4    IIT Ropar
5         Java
6       PW PPT
7         uday
8        Reddy
9         7.63
dtype: object